<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<span th:fragment="indexFragmentName">
  <span sec:authorize = "isAuthenticated()">
    <span sec:authentication="principal.username">
    </span>
  </span>
</span>

<th:block th:fragment="indexFragmentGetRoles" th:each="r, iter:${#authentication.getAuthorities()}">
    <span th:text="${r}"></span>
</th:block>

</body>
</html>